[submodule "Array"]
	path = AddOns/Array
	url = git@github.com:SanjoSolutions/LuaArray.git
[submodule "Object"]
	path = AddOns/Object
	url = git@github.com:SanjoSolutions/LuaObject.git
[submodule "Set"]
	path = AddOns/Set
	url = git@github.com:SanjoSolutions/LuaSet.git
[submodule "Mathematics"]
	path = AddOns/Mathematics
	url = git@github.com:SanjoSolutions/LuaMathematics.git
[submodule "Events"]
	path = AddOns/Events
	url = git@github.com:SanjoSolutions/LuaEvents.git
[submodule "Coroutine"]
	path = AddOns/Coroutine
	url = git@github.com:SanjoSolutions/LuaCoroutine.git
[submodule "Function"]
	path = AddOns/Function
	url = git@github.com:SanjoSolutions/LuaFunction.git
[submodule "Boolean"]
	path = AddOns/Boolean
	url = git@github.com:SanjoSolutions/LuaBoolean.git
[submodule "Tooltips"]
	path = AddOns/Tooltips
	url = git@github.com:SanjoSolutions/Tooltips.git
[submodule "String"]
	path = AddOns/String
	url = git@github.com:SanjoSolutions/LuaString.git
[submodule "Float"]
	path = AddOns/Float
	url = git@github.com:SanjoSolutions/LuaFloat.git
[submodule "CommunityFeastHandler"]
	path = AddOns/CommunityFeastHandler
	url = git@github.com:SanjoSolutions/CommunityFeastHandler.git
[submodule "Bags"]
	path = AddOns/Bags
	url = git@github.com:SanjoSolutions/Bags.git
[submodule "Caching"]
	path = AddOns/Caching
	url = git@github.com:SanjoSolutions/LuaCaching.git
[submodule "Conditionals"]
	path = AddOns/Conditionals
	url = git@github.com:SanjoSolutions/LuaConditionals.git
[submodule "Hook"]
	path = AddOns/Hook
	url = git@github.com:SanjoSolutions/LuaHook.git
[submodule "Hooking"]
	path = AddOns/Hooking
	url = git@github.com:SanjoSolutions/LuaHooking.git
[submodule "Resolvable"]
	path = AddOns/Resolvable
	url = git@github.com:SanjoSolutions/LuaResolvable.git
[submodule "Scheduling"]
	path = AddOns/Scheduling
	url = git@github.com:SanjoSolutions/LuaScheduling.git
[submodule "Serialization"]
	path = AddOns/Serialization
	url = git@github.com:SanjoSolutions/LuaSerialization.git
[submodule "Stoppable"]
	path = AddOns/Stoppable
	url = git@github.com:SanjoSolutions/LuaStoppable.git
[submodule "Yielder"]
	path = AddOns/Yielder
	url = git@github.com:SanjoSolutions/LuaYielder.git
[submodule "Compatibility"]
	path = AddOns/Compatibility
	url = git@github.com:SanjoSolutions/Compatibility.git
[submodule "Library"]
	path = AddOns/Library
	url = git@github.com:SanjoSolutions/LuaLibrary.git
[submodule "CommodityBuyerAndSeller"]
	path = AddOns/CommodityBuyerAndSeller
	url = git@github.com:SanjoSolutions/CommodityBuyerAndSeller.git
[submodule "add-on-builder"]
	path = add-on-builder
	url = git@github.com:SanjoSolutions/add-on-builder.git
[submodule "Lua"]
	path = AddOns/Lua
	url = git@github.com:SanjoSolutions/LuaLua.git
[submodule "AddOns/MoneyMakingAssistant"]
	path = AddOns/MoneyMakingAssistant
	url = git@github.com:SanjoSolutions/MoneyMakingAssistant.git
[submodule "AddOns/MoneyMakingAssistantData"]
	path = AddOns/MoneyMakingAssistantData
	url = git@github.com:SanjoSolutions/MoneyMakingAssistantData.git
